In [66]:
import pandas as pd

In [67]:
test = pd.read_csv(r"D:\Projects\Algo_trade\cache\NIFTY_50_2025-10-12_2025-11-11_5m.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Projects\\Algo_trade\\cache\\NIFTY_50_2025-10-12_2025-11-11_5m.csv'

In [ ]:
test.shape

(1367, 7)

In [ ]:
test.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0

In [ ]:
test.tail()

,Price,Adj Close,Close,High,Low,Open,Volume
1362,2025-11-10 09:35:00+00:00,25577.400390625,25577.400390625,25592.44921875,25575.900390625,25590.94921875,0
1363,2025-11-10 09:40:00+00:00,25565.44921875,25565.44921875,25577.80078125,25562.099609375,25577.25,0
1364,2025-11-10 09:45:00+00:00,25568.19921875,25568.19921875,25575.349609375,25563.55078125,25565.05078125,0
1365,2025-11-10 09:50:00+00:00,25571.30078125,25571.30078125,25573.099609375,25563.599609375,25568.599609375,0
1366,2025-11-10 09:55:00+00:00,25574.25,25574.25,25579.05078125,25567.0,25569.80078125,0

In [ ]:
from nsetools import Nse
nse = Nse()

In [ ]:
nse.get_index_quote(index="NIFTY 50")

{'key': 'INDICES ELIGIBLE IN DERIVATIVES',
 'index': 'NIFTY 50',
 'indexSymbol': 'NIFTY 50',
 'last': 25694.95,
 'variation': 120.6,
 'percentChange': 0.47,
 'open': 25617,
 'high': 25715.8,
 'low': 25449.25,
 'previousClose': 25574.35,
 'yearHigh': 26104.2,
 'yearLow': 21743.65,
 'indicativeClose': 0,
 'pe': 22.4,
 'pb': 3.51,
 'dy': 1.3,
 'declines': 10,
 'advances': 40,
 'unchanged': 1,
 'perChange365d': 5.91,
 'perChange30d': 1.14,
 'date365dAgo': '08-Nov-2024',
 'date30dAgo': '10-Oct-2025',
 'previousDay': '10-Nov-2025',
 'oneWeekAgo': '03-Nov-2025',
 'oneMonthAgoVal': 25285.35,
 'oneWeekAgoVal': 25763.35,
 'oneYearAgoVal': 24148.2,
 'previousDayVal': 25574.35,
 'chart365dPath': 'https://nsearchives.nseindia.com/365d/NIFTY-50.svg',
 'chart30dPath': 'https://nsearchives.nseindia.com/30d/NIFTY-50.svg',
 'chartTodayPath': 'https://nsearchives.nseindia.com/today/NIFTY-50.svg'}

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1367 non-null   object
 1   Adj Close  1366 non-null   object
 2   Close      1366 non-null   object
 3   High       1366 non-null   object
 4   Low        1366 non-null   object
 5   Open       1366 non-null   object
 6   Volume     1366 non-null   object
dtypes: object(7)
memory usage: 74.9+ KB

In [ ]:
import talib as tl
import yfinance as yf
import pandas as pd
import numpy as np

In [ ]:
tl.get_function_groups()

{'Cycle Indicators': ['HT_DCPERIOD',
  'HT_DCPHASE',
  'HT_PHASOR',
  'HT_SINE',
  'HT_TRENDMODE'],
 'Math Operators': ['ADD',
  'DIV',
  'MAX',
  'MAXINDEX',
  'MIN',
  'MININDEX',
  'MINMAX',
  'MINMAXINDEX',
  'MULT',
  'SUB',
  'SUM'],
 'Math Transform': ['ACOS',
  'ASIN',
  'ATAN',
  'CEIL',
  'COS',
  'COSH',
  'EXP',
  'FLOOR',
  'LN',
  'LOG10',
  'SIN',
  'SINH',
  'SQRT',
  'TAN',
  'TANH'],
 'Momentum Indicators': ['ADX',
  'ADXR',
  'APO',
  'AROON',
  'AROONOSC',
  'BOP',
  'CCI',
  'CMO',
  'DX',
  'MACD',
  'MACDEXT',
  'MACDFIX',
  'MFI',
  'MINUS_DI',
  'MINUS_DM',
  'MOM',
  'PLUS_DI',
  'PLUS_DM',
  'PPO',
  'ROC',
  'ROCP',
  'ROCR',
  'ROCR100',
  'RSI',
  'STOCH',
  'STOCHF',
  'STOCHRSI',
  'TRIX',
  'ULTOSC',
  'WILLR'],
 'Overlap Studies': ['BBANDS',
  'DEMA',
  'EMA',
  'HT_TRENDLINE',
  'KAMA',
  'MA',
  'MAMA',
  'MAVP',
  'MIDPOINT',
  'MIDPRICE',
  'SAR',
  'SAREXT',
  'SMA',
  'T3',
  'TEMA',
  'TRIMA',
  'WMA'],
 'Pattern Recognition': ['CDL2CROWS',
  'CDL3BLACKCROWS',
  'CDL3INSIDE',
  'CDL3LINESTRIKE',
  'CDL3OUTSIDE',
  'CDL3STARSINSOUTH',
  'CDL3WHITESOLDIERS',
  'CDLABANDONEDBABY',
  'CDLADVANCEBLOCK',
  'CDLBELTHOLD',
  'CDLBREAKAWAY',
  'CDLCLOSINGMARUBOZU',
  'CDLCONCEALBABYSWALL',
  'CDLCOUNTERATTACK',
  'CDLDARKCLOUDCOVER',
  'CDLDOJI',
  'CDLDOJISTAR',
  'CDLDRAGONFLYDOJI',
  'CDLENGULFING',
  'CDLEVENINGDOJISTAR',
  'CDLEVENINGSTAR',
  'CDLGAPSIDESIDEWHITE',
  'CDLGRAVESTONEDOJI',
  'CDLHAMMER',
  'CDLHANGINGMAN',
  'CDLHARAMI',
  'CDLHARAMICROSS',
  'CDLHIGHWAVE',
  'CDLHIKKAKE',
  'CDLHIKKAKEMOD',
  'CDLHOMINGPIGEON',
  'CDLIDENTICAL3CROWS',
  'CDLINNECK',
  'CDLINVERTEDHAMMER',
  'CDLKICKING',
  'CDLKICKINGBYLENGTH',
  'CDLLADDERBOTTOM',
  'CDLLONGLEGGEDDOJI',
  'CDLLONGLINE',
  'CDLMARUBOZU',
  'CDLMATCHINGLOW',
  'CDLMATHOLD',
  'CDLMORNINGDOJISTAR',
  'CDLMORNINGSTAR',
  'CDLONNECK',
  'CDLPIERCING',
  'CDLRICKSHAWMAN',
  'CDLRISEFALL3METHODS',
  'CDLSEPARATINGLINES',
  'CDLSHOOTINGSTAR',
  'CDLSHORTLINE',
  'CDLSPINNINGTOP',
  'CDLSTALLEDPATTERN',
  'CDLSTICKSANDWICH',
  'CDLTAKURI',
  'CDLTASUKIGAP',
  'CDLTHRUSTING',
  'CDLTRISTAR',
  'CDLUNIQUE3RIVER',
  'CDLUPSIDEGAP2CROWS',
  'CDLXSIDEGAP3METHODS'],
 'Price Transform': ['AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE'],
 'Statistic Functions': ['BETA',
  'CORREL',
  'LINEARREG',
  'LINEARREG_ANGLE',
  'LINEARREG_INTERCEPT',
  'LINEARREG_SLOPE',
  'STDDEV',
  'TSF',
  'VAR'],
 'Volatility Indicators': ['ATR', 'NATR', 'TRANGE'],
 'Volume Indicators': ['AD', 'ADOSC', 'OBV']}

In [ ]:
data = yf.download('^NSEI', start='2025-11-06', end='2025-11-12', interval='5m', auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 300 entries, 2025-11-06 03:45:00+00:00 to 2025-11-11 09:55:00+00:00
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, ^NSEI)  300 non-null    float64
 1   (Close, ^NSEI)      300 non-null    float64
 2   (High, ^NSEI)       300 non-null    float64
 3   (Low, ^NSEI)        300 non-null    float64
 4   (Open, ^NSEI)       300 non-null    float64
 5   (Volume, ^NSEI)     300 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 16.4 KB

In [ ]:
data.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
Datetime,,,,,,
2025-11-06 03:45:00+00:00,25666.699219,25666.699219,25670.250000,25596.849609,25604.050781,0
2025-11-06 03:50:00+00:00,25659.800781,25659.800781,25678.150391,25651.349609,25664.099609,0
2025-11-06 03:55:00+00:00,25626.599609,25626.599609,25659.849609,25619.900391,25659.849609,0
2025-11-06 04:00:00+00:00,25627.750000,25627.750000,25629.849609,25609.400391,25625.599609,0
2025-11-06 04:05:00+00:00,25628.900391,25628.900391,25632.849609,25610.250000,25628.400391,0

In [ ]:
data.tail()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
Datetime,,,,,,
2025-11-11 09:35:00+00:00,25681.349609,25681.349609,25700.650391,25676.500000,25692.849609,0
2025-11-11 09:40:00+00:00,25694.900391,25694.900391,25697.099609,25670.599609,25681.949219,0
2025-11-11 09:45:00+00:00,25700.849609,25700.849609,25700.849609,25686.949219,25695.300781,0
2025-11-11 09:50:00+00:00,25704.150391,25704.150391,25706.900391,25694.599609,25699.300781,0
2025-11-11 09:55:00+00:00,25705.550781,25705.550781,25713.800781,25703.050781,25704.550781,0

In [ ]:
data.columns

MultiIndex([('Adj Close', '^NSEI'),
            (    'Close', '^NSEI'),
            (     'High', '^NSEI'),
            (      'Low', '^NSEI'),
            (     'Open', '^NSEI'),
            (   'Volume', '^NSEI')],
           names=['Price', 'Ticker'])

In [ ]:
data.index

DatetimeIndex(['2025-11-06 03:45:00+00:00', '2025-11-06 03:50:00+00:00',
               '2025-11-06 03:55:00+00:00', '2025-11-06 04:00:00+00:00',
               '2025-11-06 04:05:00+00:00', '2025-11-06 04:10:00+00:00',
               '2025-11-06 04:15:00+00:00', '2025-11-06 04:20:00+00:00',
               '2025-11-06 04:25:00+00:00', '2025-11-06 04:30:00+00:00',
               ...
               '2025-11-11 09:10:00+00:00', '2025-11-11 09:15:00+00:00',
               '2025-11-11 09:20:00+00:00', '2025-11-11 09:25:00+00:00',
               '2025-11-11 09:30:00+00:00', '2025-11-11 09:35:00+00:00',
               '2025-11-11 09:40:00+00:00', '2025-11-11 09:45:00+00:00',
               '2025-11-11 09:50:00+00:00', '2025-11-11 09:55:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Datetime', length=300, freq=None)

In [ ]:
data.index = data.index.tz_convert('Asia/Kolkata')
data.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
Datetime,,,,,,
2025-11-06 09:15:00+05:30,25666.699219,25666.699219,25670.250000,25596.849609,25604.050781,0
2025-11-06 09:20:00+05:30,25659.800781,25659.800781,25678.150391,25651.349609,25664.099609,0
2025-11-06 09:25:00+05:30,25626.599609,25626.599609,25659.849609,25619.900391,25659.849609,0
2025-11-06 09:30:00+05:30,25627.750000,25627.750000,25629.849609,25609.400391,25625.599609,0
2025-11-06 09:35:00+05:30,25628.900391,25628.900391,25632.849609,25610.250000,25628.400391,0

In [68]:
data.dropna()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
Datetime,,,,,,
2025-11-06 09:15:00+05:30,25666.699219,25666.699219,25670.250000,25596.849609,25604.050781,0
2025-11-06 09:20:00+05:30,25659.800781,25659.800781,25678.150391,25651.349609,25664.099609,0
2025-11-06 09:25:00+05:30,25626.599609,25626.599609,25659.849609,25619.900391,25659.849609,0
2025-11-06 09:30:00+05:30,25627.750000,25627.750000,25629.849609,25609.400391,25625.599609,0
2025-11-06 09:35:00+05:30,25628.900391,25628.900391,25632.849609,25610.250000,25628.400391,0
...,...,...,...,...,...,...
2025-11-11 15:05:00+05:30,25681.349609,25681.349609,25700.650391,25676.500000,25692.849609,0
2025-11-11 15:10:00+05:30,25694.900391,25694.900391,25697.099609,25670.599609,25681.949219,0
2025-11-11 15:15:00+05:30,25700.849609,25700.849609,25700.849609,25686.949219,25695.300781,0
2025-11-11 15:20:00+05:30,25704.150391,25704.150391,25706.900391,25694.599609,25699.300781,0
2025-11-11 15:25:00+05:30,25705.550781,25705.550781,25713.800781,25703.050781,25704.550781,0

In [69]:
tl.EMA(data['Close'].to_numpy(), timeperiod=10)

Exception: input array has wrong dimensions