In [3]:
import pandas as pd

In [4]:
test = pd.read_csv(r"D:\Projects\Algo_trade\cache\NIFTY_50_2025-10-12_2025-11-11_5m.csv")

In [5]:
test.shape

(1367, 7)

In [6]:
test.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0

In [7]:
test.tail()

,Price,Adj Close,Close,High,Low,Open,Volume
1362,2025-11-10 09:35:00+00:00,25577.400390625,25577.400390625,25592.44921875,25575.900390625,25590.94921875,0
1363,2025-11-10 09:40:00+00:00,25565.44921875,25565.44921875,25577.80078125,25562.099609375,25577.25,0
1364,2025-11-10 09:45:00+00:00,25568.19921875,25568.19921875,25575.349609375,25563.55078125,25565.05078125,0
1365,2025-11-10 09:50:00+00:00,25571.30078125,25571.30078125,25573.099609375,25563.599609375,25568.599609375,0
1366,2025-11-10 09:55:00+00:00,25574.25,25574.25,25579.05078125,25567.0,25569.80078125,0