In [3]:
import pandas as pd

In [4]:
test = pd.read_csv(r"D:\Projects\Algo_trade\cache\NIFTY_50_2025-10-12_2025-11-11_5m.csv")

In [5]:
test.shape

(1367, 7)

In [6]:
test.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0

In [7]:
test.tail()

,Price,Adj Close,Close,High,Low,Open,Volume
1362,2025-11-10 09:35:00+00:00,25577.400390625,25577.400390625,25592.44921875,25575.900390625,25590.94921875,0
1363,2025-11-10 09:40:00+00:00,25565.44921875,25565.44921875,25577.80078125,25562.099609375,25577.25,0
1364,2025-11-10 09:45:00+00:00,25568.19921875,25568.19921875,25575.349609375,25563.55078125,25565.05078125,0
1365,2025-11-10 09:50:00+00:00,25571.30078125,25571.30078125,25573.099609375,25563.599609375,25568.599609375,0
1366,2025-11-10 09:55:00+00:00,25574.25,25574.25,25579.05078125,25567.0,25569.80078125,0

In [1]:
from nsetools import Nse
nse = Nse()

In [2]:
nse.get_index_quote(index="NIFTY 50")

{'key': 'INDICES ELIGIBLE IN DERIVATIVES',
 'index': 'NIFTY 50',
 'indexSymbol': 'NIFTY 50',
 'last': 25694.95,
 'variation': 120.6,
 'percentChange': 0.47,
 'open': 25617,
 'high': 25715.8,
 'low': 25449.25,
 'previousClose': 25574.35,
 'yearHigh': 26104.2,
 'yearLow': 21743.65,
 'indicativeClose': 0,
 'pe': 22.4,
 'pb': 3.51,
 'dy': 1.3,
 'declines': 10,
 'advances': 40,
 'unchanged': 1,
 'perChange365d': 5.91,
 'perChange30d': 1.14,
 'date365dAgo': '08-Nov-2024',
 'date30dAgo': '10-Oct-2025',
 'previousDay': '10-Nov-2025',
 'oneWeekAgo': '03-Nov-2025',
 'oneMonthAgoVal': 25285.35,
 'oneWeekAgoVal': 25763.35,
 'oneYearAgoVal': 24148.2,
 'previousDayVal': 25574.35,
 'chart365dPath': 'https://nsearchives.nseindia.com/365d/NIFTY-50.svg',
 'chart30dPath': 'https://nsearchives.nseindia.com/30d/NIFTY-50.svg',
 'chartTodayPath': 'https://nsearchives.nseindia.com/today/NIFTY-50.svg'}

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1367 non-null   object
 1   Adj Close  1366 non-null   object
 2   Close      1366 non-null   object
 3   High       1366 non-null   object
 4   Low        1366 non-null   object
 5   Open       1366 non-null   object
 6   Volume     1366 non-null   object
dtypes: object(7)
memory usage: 74.9+ KB