In [1]:
import pandas as pd

In [16]:
raw_path = r'D:\Projects\Algo_trade\cache\NIFTY_50_2025-10-13_2025-11-12_5m.csv'
raw_df = pd.read_csv(raw_path)
raw_df.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0

In [17]:
raw_df = raw_df.rename(columns={'Price':'DateTime'})
raw_df.head()

,DateTime,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0

In [ ]:
raw_df = raw_df.drop(index=[0,1], columns='Volume').reset_index(drop=True)

raw_df.head()

,DateTime,Adj Close,Close,High,Low,Open
0,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125
1,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375
2,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375
3,2025-10-13 04:00:00+00:00,25163.349609375,25163.349609375,25197.05078125,25154.849609375,25196.19921875
4,2025-10-13 04:05:00+00:00,25201.900390625,25201.900390625,25203.80078125,25153.5,25163.19921875

In [19]:
df = raw_df.drop(columns='Adj Close')
df.head()

,DateTime,Close,High,Low,Open
0,2025-10-13 03:45:00+00:00,25213.80078125,25239.849609375,25176.80078125,25182.80078125
1,2025-10-13 03:50:00+00:00,25216.0,25223.94921875,25200.94921875,25213.849609375
2,2025-10-13 03:55:00+00:00,25196.44921875,25216.94921875,25187.30078125,25216.599609375
3,2025-10-13 04:00:00+00:00,25163.349609375,25197.05078125,25154.849609375,25196.19921875
4,2025-10-13 04:05:00+00:00,25201.900390625,25203.80078125,25153.5,25163.19921875

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  1440 non-null   object
 1   Close     1440 non-null   object
 2   High      1440 non-null   object
 3   Low       1440 non-null   object
 4   Open      1440 non-null   object
dtypes: object(5)
memory usage: 56.4+ KB

In [23]:
df['DateTime'] = pd.to_datetime(df['DateTime'])
df.head()

,DateTime,Close,High,Low,Open
0,2025-10-13 03:45:00+00:00,25213.80078125,25239.849609375,25176.80078125,25182.80078125
1,2025-10-13 03:50:00+00:00,25216.0,25223.94921875,25200.94921875,25213.849609375
2,2025-10-13 03:55:00+00:00,25196.44921875,25216.94921875,25187.30078125,25216.599609375
3,2025-10-13 04:00:00+00:00,25163.349609375,25197.05078125,25154.849609375,25196.19921875
4,2025-10-13 04:05:00+00:00,25201.900390625,25203.80078125,25153.5,25163.19921875