In [1]:
import pandas as pd

In [2]:
raw_path = r'D:\Projects\Algo_trade\cache\NIFTY_50_2025-10-12_2025-11-11_5m.csv'
df = pd.read_csv(raw_path)
df.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0

In [3]:
df = df.rename(columns={'Price':'DateTime'})
df.head()

,DateTime,Adj Close,Close,High,Low,Open,Volume
0,Ticker,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0

In [6]:
df.head()

,DateTime,Adj Close,Close,High,Low,Open,Volume
2,2025-10-13 03:45:00+00:00,25213.80078125,25213.80078125,25239.849609375,25176.80078125,25182.80078125,0
3,2025-10-13 03:50:00+00:00,25216.0,25216.0,25223.94921875,25200.94921875,25213.849609375,0
4,2025-10-13 03:55:00+00:00,25196.44921875,25196.44921875,25216.94921875,25187.30078125,25216.599609375,0
5,2025-10-13 04:00:00+00:00,25163.349609375,25163.349609375,25197.05078125,25154.849609375,25196.19921875,0
6,2025-10-13 04:05:00+00:00,25201.900390625,25201.900390625,25203.80078125,25153.5,25163.19921875,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1365 entries, 2 to 1366
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DateTime   1365 non-null   object
 1   Adj Close  1365 non-null   object
 2   Close      1365 non-null   object
 3   High       1365 non-null   object
 4   Low        1365 non-null   object
 5   Open       1365 non-null   object
 6   Volume     1365 non-null   object
dtypes: object(7)
memory usage: 74.8+ KB